/Calculate/nbproject/private/
/Calculate/build/
/CalculateCount2/nbproject/private/
/RectangleCalculator/nbproject/private/
/RectangleCalculator/build/
/MainThread/nbproject/private/
/MainThread/dist/
/TapTap!/nbproject/private/
/TapTap!/build/
/fishingINThePond/nbproject/private/
/fishingINThePond/build/
/PingPong/nbproject/private/
/PingPong/build/
/ABCSequencer/nbproject/private/
/ABCSequencer/build/
/CounterApp/nbproject/private/
/CounterApp/build/
/LabelButtonApp/nbproject/private/
/LabelButtonApp/build/
/SimpleCalculator/nbproject/private/
/ResourceAllocationSystem/nbproject/private/
/ResourceAllocationSystem/build/
/Inventory/nbproject/private/
/Inventory/build/
/TestMachine/nbproject/private/
/TestMachine/build/
/GIt/nbproject/private/
/GIt/build/
/git1/nbproject/private/
/git1/build/
/git1/dist/
